@use "sass:map";

$maxBreakpoint: map.get($grid-breakpoints, "xl");

@for $spacing from 100 through $maxBreakpoint {
    $increment: $spacing+50;
    
    @if $increment % 50 == 0 {
        // Utility classes for heights, min-heights and max-widths
        .h-#{$spacing} {
            height: #{$spacing}px;
        }
        .min-h-#{$spacing} {
            min-height: #{$spacing}px;
        }
        .max-w-#{$spacing} {
            max-width: #{$spacing}px;
        }

        // Mobile-first utility classes for heights, min-heights, and max-widths
        @each $breakpoint, $width in $grid-breakpoints {
            @media (min-width: $width) {
                .h-#{$breakpoint}-auto {
                    height: auto;
                }
                .h-#{$breakpoint}-#{$spacing} {
                    height: #{$spacing}px;
                }
                .min-h-#{$breakpoint}-#{$spacing} {
                    min-height: #{$spacing}px;
                }
                .max-w-#{$breakpoint}-#{$spacing} {
                    max-width: #{$spacing}px;
                }
            }
        }
    }
}

.h-auto {
    height: auto;
}
.max-w-auto {
    max-width: auto;
}
