@use "sass:map";

$maxBreakpoint: map.get($grid-breakpoints, "xl");

@for $i from 150 through $maxBreakpoint {
    $spacing: $i+50;
    
    @if $spacing % 50 == 0 {
        // Utility classes for heights, min-heights and max-widths
        .h-#{$i} {
            height: #{$i}px;
        }
        .min-h-#{$i} {
            min-height: #{$i}px;
        }
        .max-w-#{$i} {
            max-width: #{$i}px;
        }

        // Mobile-first utility classes for heights and min-heights
        @each $key, $value in $grid-breakpoints {
            @media (min-width: $value) {
                .h-#{$key}-auto {
                    height: auto;
                }
                .h-#{$key}-#{$i} {
                    height: #{$i}px;
                }
                .min-h-#{$key}-#{$i} {
                    min-height: #{$i}px;
                }
            }
        }
    }
}

.height-auto {
    height: auto;
}
.max-w-auto {
    max-width: auto;
}
